<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>user</servlet-name>
  	<display-name>user</display-name>
  	<description></description>
  	<servlet-class>com.transferobject.user</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateAccount</servlet-name>
  	<display-name>CreateAccount</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.CreateAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertFlight</servlet-name>
  	<display-name>InsertFlight</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.InsertFlight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserValidation</servlet-name>
  	<display-name>UserValidation</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.UserValidation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>booksession</servlet-name>
  	<display-name>booksession</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.booksession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>admincheck</servlet-name>
  	<display-name>admincheck</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.admincheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changepass</servlet-name>
  	<display-name>changepass</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.changepass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addadmin</servlet-name>
  	<display-name>addadmin</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.addadmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>payment</servlet-name>
  	<display-name>payment</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.payment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdetails</servlet-name>
  	<display-name>userdetails</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.userdetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateAccount</servlet-name>
  	<url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertFlight</servlet-name>
  	<url-pattern>/InsertFlight</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserValidation</servlet-name>
  	<url-pattern>/UserValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>booksession</servlet-name>
  	<url-pattern>/booksession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admincheck</servlet-name>
  	<url-pattern>/admincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changepass</servlet-name>
  	<url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addadmin</servlet-name>
  	<url-pattern>/addadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>payment</servlet-name>
  	<url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdetails</servlet-name>
  	<url-pattern>/userdetails</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>UserAdmin.html</welcome-file>
 </welcome-file-list>
  
</web-app>
